<!-- wp:template-part {"slug":"ji-header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-featured-image /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:cover {"dimRatio":30,"overlayColor":"background","isUserOverlayColor":true,"minHeight":204,"minHeightUnit":"px","contentPosition":"center center","isDark":false,"align":"center","className":"jisinglepostcover","style":{"border":{"radius":"0px","width":"15px"}},"borderColor":"secondarycontrast","layout":{"type":"constrained"}} -->
<div class="wp-block-cover aligncenter is-light jisinglepostcover has-border-color has-secondarycontrast-border-color" style="border-width:15px;border-radius:0px;min-height:204px"><span aria-hidden="true" class="wp-block-cover__background has-background-background-color has-background-dim-30 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-content /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:template-part {"slug":"ji-footer","tagName":"footer"} /-->